@import url('https://fonts.googleapis.com/css2?family=Ubuntu:display=swap');

body {
    background-image: url('./bg-img.jpg');
    /* background-size: 100% 100%;
    background-position: 100% 100%; */
    font-family: 'Ubuntu', sans-serif;
}

/* header */
header div {
    margin-left: 71%;
    position: relative;
    top: -20px
}

header p {
    color: white;
    margin-top: 15px;
    margin-left: 15%;
    font-size: small;
    color: gray;
}

.login {
    border-radius: 50px;
    border: 0;
    font-size: small;
    color: #fff;
    padding: 6px 10px;
    background: rgb(32, 191, 85);
    background: linear-gradient(0deg, rgba(1, 186, 239, 1) 20%, rgba(86, 226, 182, 1) 80%)
}

.register {
    background: none;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: x-small;

}


/* Body */
div.header-section {
    margin-left: 16%;
    margin-top: 5%;

}

section p.p-login {
    color: #fff;
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 30px;
}

section p {
    color: #fff;
    margin-top: 5px;
}

article.login-section {
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 600px;

}

article.login-section div.login-input {
    width: 67%;
    height: 40%;
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(to left, #56E2B6, #004d7a);
    background-origin: border-box;
    background-clip: content-box, border-box;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);


}

article.login-section div p {
    color: black;
    font-size: smaller;
}

article.login-section div p.header-login {
    font-size: 25px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 17px;
}

article.login-section div p.find {
    font-size: 12px;
    text-align: center;
    color: gray;
}

article.login-section div input {
    width: 82%;
    margin-bottom: 10px;
    margin-left: 6px;
    border: double 1px lightgrey;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 33px;
    padding-right: 25px;

    border-radius: 5px;

}

article.login-section div i#mail{
    position: relative;
    bottom: 2px;
    left: 33px;
    background-color: rgb(228, 228, 227);
    padding: 8px 8px 10px 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 11px;

}
article.login-section div i#lock{
    position: relative;
    bottom: 2px;
    left: 33px;
    background-color: rgb(228, 228, 227);
    padding: 8px 10px 10px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 11px;

}
article.login-section div p.forgot{
    text-align: right;
    font-size: smaller;
    color: lightcoral;
    font-weight: 100;
    margin-right: 4%;
    margin-top: 0%;
}
article.login-section div button{
    margin-left: 44%;
    padding: 7px 18px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #4fd7ac;
    color: #fff;

}

article.login-section div p.create-account{
    text-align: center;
    color: darkgrey;
    font-size: 11px;
}


/* footer */

footer{
    height: 150px;
    /* text-align: center; */

    font-size: 12px;

}
footer p{
    color: lightgray;
        text-align: center;

}
/* footer div{
    display: block;

} */
footer p.pravicy{
    /* display: block; */
 margin-bottom: 2px;
}
span{
    
margin-left: 5px; /* margin-bottom: 10px; */
/* color: red; */

}
/* footer p.pravicy2{
    display: block;
 margin-bottom: 10px;
} */
footer div.line{
    color: #fff;
    font-size: 20px;
    display: block;
    margin-top: -25px;

    margin-bottom: 25px;
    /* grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(1, 500px);
    grid-template-areas:
        'line 0 line2'
    ; */

}
footer span.line1{
    width: 30%;
    font-size: 4px;
    border: solid 1px #004d7a;
    margin-left: 13.5%;
    display: block;
    /* grid-area:line; */
}
footer span.line2{
    width: 30%;
    font-size: 4px;
    border: solid 1px #004d7a;
    margin-left: 56%;
    display: block;
    position: relative;
    bottom: 2px;
}
footer p.copyright{
    /* padding: 7px 10px; */
    font-size: 12px;

    position:relative;
    top: 20px;
    background:none;

}
footer div.icons {

    text-align: center;
}
footer div.icons i{
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    margin-right: 3px;
    padding: 1px 2px;
    border-radius: 2px;
}